* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#section1 {
    width: 100%;
    height: 100vh;
    background: url(../img/fondo-section1.png) no-repeat scroll center;
    background-size: cover;

}

#section1 > div {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section1 > div > div.left-desc {
    height: 160px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: izquierda-derecha;
    animation-duration: 1.8s;
}

#section1 > div > div.left-desc h1 {
    color: #7092BE;
    font-size: 2em;
    text-shadow: 1px 1px 1px #fff;
}

#section1 > div > div.left-desc a {
    width: 100px;
    padding: 4px 10px;
    color: #7092BE;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border: #7092BE 2px solid;
    border-radius: 3px;
    transition: color .3s;
}

#section1 > div > div.left-desc a:hover {
    color: white;
}

#section1 > div > div.right-img img {
    width: 370px;
    border-radius: 50%;
    border: #7092BE 5px solid;
    animation-name: derecha-izquierda;
    animation-duration: 1.8s;
}

@keyframes izquierda-derecha {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes derecha-izquierda {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

#section2 {
    background: #000 url(../img/fondo-section2.jpg) no-repeat fixed center;
    background-size: cover;
    padding: 20px 0;
}

.sobre-habilidades {
    width: 70%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.underline {
    width: 70px;
    height: 4px;
    background-color: #7092BE;
}

.informacion {
    background-color: rgba(0, 0, 0, 0.404);
    margin: 15px 0 20px;
}

.container-habilidades {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0 0;
    flex-wrap: wrap;
}

.container-habilidad {
    width: 100%;
    max-width: 120px;
    height: 150px;
}

.container-habilidad > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    transition: all .2s ease-in-out;
}

.container-habilidad > img:hover {
    transform: translateY(-5px);
    -webkit-filter: none;
    filter: none;
}

#section3 {
    background-color: black;
    padding: 50px 0;
}

#section3 > div {
    width: 70%;
    margin: 0 auto;
    color: white;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #7092BE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.grid-item a {
    color: white;
    display: inline-block;
    margin: 5px 0;
    padding: 4px 6px;
    border-radius: 2px;
    background-color: #0f52aa66;
    transition: color .3s;
}

.grid-item a:hover {
    color: #ccc;
}

.container-img-app {
    width: 100%;
    height: 150px;
}

.container-img-app > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img-app-conversor > img {
    object-fit: contain;
}

.container-habilidades-app {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.habilidad-app {
    border-radius: 10px;
    display: inline-block;
    padding: 4px 6px;
}

.habilidad-react {
    background-color: #61DBFB;
}

.habilidad-html {
    background-color: #E54C20;
}

.habilidad-css {
    background-color: #274DE4;
}

.habilidad-js {
    background-color: #F0DC4E;
    color: #000;
}

.habilidad-redux {
    background-color: #7649BD;
}

.habilidad-java {
    background-color: #E11F20;
}

#section4 {
    background-color: #2D2D2D;
    color: white;
}

#section4 > div {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section4 > div .info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section4 > div .info #contact-left {
    width: 70%;
}

#section4 > div .info #contact-right {
    width: 20%;
    display: flex;
    justify-content: space-around;
}
 
#section4 > div .info #contact-right img {
    height: 40px;
    transition: all 1s;
}

#section4 > div .info #contact-right img:hover {
    transform: scale(1.2) rotate(360deg);
}

.form {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}

.form > h3 {
    text-align: center;
}

.form > label,
.form > input,
.form > textarea,
.form > button {
    display: block;
    font-family: 'Lato', sans-serif;
    border: none;
    outline: none;
    font-size: 16px;
}

.form > label {
    margin: 14px 0 10px;
}

.form > input,
.form > textarea {
    width: 100%;
    resize: none;
    padding: 6px 8px;
    border-radius: 6px;
}

.form > input:focus,
.form > textarea:focus {
    box-shadow: 0px 0px 4px 4px #7092becb;
}

.form > textarea {
    height: 100px;
}

.form > button {
    margin-top: 20px;
    padding: 10px 0;
    width: 100px;
    border-radius: 6px;
    background-color: #7092BE;
    border: 1px solid black;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.form > button:hover {
    transform: scale(1.05);
}
 
footer {
    background-color: #000;
    padding: 20px 0;
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
    #section1 > div {
        width: 90%;
    }
    #section1 > div > div.right-img img {
        width: 280px;
    }
    #section2 > div {
        width: 90%;
    }
    #section3 > div {
        width: 90%;
    }
    #section4 > div {
        width: 90%;
    }
    #section4 > div .info {
        flex-direction: column;
        align-items: flex-start;
    }
    #section4 > div .info #contact-right {
        width: 80%;
        align-self: center;
        margin-top: 40px;
    }
    #section4 > div .info #contact-left {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #section1 > div {
        flex-direction: column;
    }
    #section1 > div > div.right-img img {
        width: 250px;
    }
    #section3 > div .grid-container {
        grid-template-columns: 1fr;
    }
}